<%- include("../partials/header") %>
      <div class="flight-select">
        <label for="flight">Flight Number :</label>
        <!-- <input name="flight" id="flight" type="text" placeholder="flight #" /> -->
        <select name="flight" id="flight" class="flight">
          <option disabled selected>Please Choose a Flight</option>
          <% flights.forEach(flight => { %>
            <option> <%= flight %> </option>
          <% }) %>
        </select>
      </div>
        <%- include("../partials/form") %>
        </div>
      </form>
    </div>
  </div>
  <script src="./js/seat-select.js"></script>
</body>
</html>