<%- include("../partials/header") %>
<body>
  <div class='main'>
      <header class='header'>
          <h1 class='header-logo'>Air Slingshot</h1>
      </div>
      <div class="flight-select">
          <label for="flight">Flight Number :</label>
          <!-- <input name="flight" id="flight" type="text" placeholder="flight #" /> -->
          <select name="flight" id="flight" class="flight">
            <option disabled selected>Please Choose a Flight</option>
            <% flights.forEach(flight => { %>
              <option> <%= flight %> </option>
            <% }) %>
          </select>

      </div>
<%- include("../partials/form") %>
<%- include("../partials/footer") %>